@import '../styles/global.scss';
.container {
  max-width: $site-width;
  min-height: 140px;
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 50px;

  .row {
    text-align: center;
    padding: 5px;
  }
  .button {
    background-color: $orthopedic-pallete-1-rgba;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 30px;
    min-width: 15px;
    line-height: 30px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: $orthopedic-pallete-2-rgba;
    }
  }

  .button-icon {
    @extend .button;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button-twitter {
    @extend .button-icon;
    background-image: url('../images/twitter.svg');
    margin-right: 0;
  }
  .button-facebook {
    @extend .button-icon;
    background-image: url('../images/facebook.svg');
    margin-right: 0;
  }
  .button-instagram {
    @extend .button-icon;
    background-image: url('../images/instagram.svg');
    margin-right: 0;
  }
  .button-youtube {
    @extend .button-icon;
    background-image: url('../images/youtube.svg');
    margin-right: 0;
  }
  .link {
    color: $orthopedic-pallete-1-rgba;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $orthopedic-pallete-2-rgba;
    }

    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}
